.user-card{
    position: relative;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(22, 19, 85); 
    border: none; 
    color: white; 
    padding: 5px 7px; 
    font-size: 16px;
    cursor: pointer; 
}

.btn:active{
    box-shadow: none;
}

.label-name{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 5px 5px 10px;
    border: 1px solid #1f1d1d;
    border-radius: 25px;
    font-size: 20px;
    width :70%;
    background-color: #fff8f8 ;
    font-family:'Times New Roman', Times, serif;


}

button{
    background-color: #4c4faf;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 8px;
}